In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
code_form = pd.read_excel('tbl_brand.xlsx', engine='openpyxl')

In [3]:
code_form.head()

,id,type,code,name,sorted,create_time,update_time,delete_status
0,297721,2,164137,3 sprouts,10000,2021-06-15 19:19:23,2021-06-15 19:19:23,1
1,297722,2,164183,ABC(卫生巾),10000,2021-06-15 19:19:23,2021-06-15 19:19:23,1
2,297723,2,164259,AIWA,10000,2021-06-15 19:19:23,2021-06-15 19:19:23,1
3,297724,2,164341,amazing grass,10000,2021-06-15 19:19:23,2021-06-15 19:19:23,1
4,297725,2,164389,ANIRAC,10000,2021-06-15 19:19:23,2021-06-15 19:19:23,1

In [21]:
brand_code_matching={}
for brand in code_form['name']:
    row_index = code_form.index[code_form['name'] == brand].tolist()
    brand_code_matching[brand] = code_form.at[row_index[0],'code']

In [22]:
brand_code_matching

{'3 sprouts': 164137,
 'ABC(卫生巾)': 164183,
 'AIWA': 164259,
 'amazing grass': 164341,
 'ANIRAC': 164389,
 'Anne Thomas': 164398,
 'Apothia': 164421,
 'Aroma garden': 164445,
 'Attitude': 164485,
 'Aurelia Probiotic Skincare': 164495,
 'AUSTTBABY': 164500,
 'Autumn Cashmere': 164502,
 'Awfully Chocolate': 164513,
 'B.DUCK': 164527,
 'Baby Ddrops': 164538,
 'Bad air sponge': 164565,
 'BAYMAY': 164601,
 'Beesline': 164656,
 'BETADINE': 164689,
 'betta': 164691,
 'beyond closet': 164695,
 'bgo': 164698,
 'BISKITOP': 164740,
 'Bluetex': 164778,
 'CAMI NYC': 164932,
 'CANDYMAGIC': 164944,
 'catimini': 164983,
 'Chateau Dionne': 165025,
 'cica care': 165065,
 'COLLISTAR': 165147,
 'Colly': 165148,
 'comper': 165166,
 'COOLMAX': 165175,
 'COREGA': 165180,
 'Cosatto': 165190,
 'Cosmedica Skincare': 165196,
 'COSMEDIX': 165197,
 'coverQueen': 165221,
 'CUCINE': 165249,
 'Culture Matters': 165253,
 'CYKE': 165267,
 'DAMAH': 165285,
 'Daozao': 165297,
 'demeter': 165346,
 'DERAIN BY WOLFERS': 165355,
 'DORATEYMUR': 165425,
 'Dr.Nail': 165454,
 'Elodie Details': 165557,
 'EMBRYOLISSE': 165563,
 'enweis': 165593,
 'Ergobaby': 165603,
 'Etam Weekend': 165625,
 'eufy': 165634,
 'EVA SOLO': 165640,
 'FENDI': 165711,
 'Fina Ejerique': 165734,
 'First Aid Beauty': 165744,
 'FitFlop': 165749,
 'FLANMY': 165756,
 'FLEXFIT': 165761,
 'Fomomy': 165773,
 'Francesco Russo': 165800,
 'Freywille': 165826,
 'FRIZMWORKS': 165828,
 'G-Shock': 165849,
 'GAS Bijoux': 165863,
 'Genove': 165874,
 'Gilded Age': 165889,
 'grabease': 165943,
 'Gululu': 165983,
 'Happy bath': 166021,
 'HEELAA': 166057,
 'Hermuna': 166080,
 'HIDEEP': 166090,
 'HOBONICHI': 166106,
 'HON LIFE': 166125,
 'Hotel Chocolate': 166138,
 'huangjisoo': 166146,
 'Hummel': 166154,
 'IAMNOT': 166179,
 'IGNIS': 166191,
 'iLEFT': 166205,
 'iplaybox': 166260,
 'IRIDESCENCE New York': 166262,
 'iS CLINICAL': 166265,
 'JASS': 166321,
 'Jawbone': 166322,
 'JORDAN': 166400,
 'JORDANS': 166403,
 'Kewpie': 166502,
 'Kindee': 166522,
 'KINDLE': 166525,
 'KIPP': 166532,
 'Kiss The Tiramisu': 166539,
 'KJC EDISON': 166554,
 'Kolorex': 166579,
 'Lady M': 166647,
 'LANN': 166673,
 'LAYENBERGER': 166700,
 'LECHÉRI': 166724,
 'Les Merveilleuses Ladurée': 166743,
 'LESSEL': 166749,
 'LightStim': 166773,
 'Little Joys': 166807,
 'loeffler randall': 166824,
 'LoveShackFancy': 166852,
 'LuLuLun': 166880,
 'Macallan': 166902,
 'Mageliya': 166913,
 'MAINE BEACH': 166926,
 'Makeup Geek': 166945,
 'makeup miracle': 166946,
 'Mario Badescu': 166982,
 'MarLab': 166990,
 'Medecine Douce': 167040,
 'Medion': 167045,
 'Metabolic': 167081,
 'mimipoko': 167132,
 'MiSiew': 167159,
 'MissDeer': 167168,
 'MISSOSE': 167171,
 'MISSSHOP': 167173,
 'MONNIER Frères': 167232,
 'MOODY': 167245,
 'NANIS': 167358,
 'NATIVE UNION': 167372,
 'NCCU': 167398,
 'Noxzema': 167480,
 'NUPO': 167498,
 'OES': 167529,
 'okbaby': 167544,
 'ONYA': 167577,
 'OZLANA AU': 167622,
 'paxbaby': 167675,
 'PB0110': 167678,
 'pedro Garcia': 167690,
 'PERFECTIO': 167704,
 'Piara': 167729,
 'PILLITTERI': 167740,
 'PlanToys': 167758,
 'PLEPIC': 167764,
 'pronovias': 167827,
 'puebco': 167833,
 'Ramy Brook': 167896,
 'Real\xa0Techniques': 167914,
 'RHEA': 167961,
 'ROCOCO SAND': 168001,
 'Rodeo Crowns': 168003,
 'RYKAERGEL': 168069,
 'SALONI': 168092,
 'Sambonet': 168098,
 'SARASA': 168124,
 'SHINKO': 168206,
 'Shopbop': 168217,
 'Sistema': 168255,
 'Sixtory': 168261,
 'SkinClinic': 168277,
 'SKULTUNA': 168287,
 'slenderplus': 168294,
 'SOVO': 168359,
 'SPS': 168380,
 'STARESSO': 168393,
 'STAYFREE': 168401,
 'Stelton': 168412,
 'Story Mark': 168430,
 'SUTTONS UGG': 168494,
 'TAKENAKA': 168532,
 'TheBeautools': 168615,
 'TNA': 168680,
 'Tokidoki': 168688,
 'Touchdog': 168716,
 'Trace Minerals': 168721,
 'TRUME': 168749,
 'Unizink': 168818,
 'Varley': 168860,
 'vivo': 168949,
 'WAKEUP': 168984,
 'Whal Myung': 169011,
 'WMWM': 169033,
 'YOTIME': 169109,
 'YPL': 169115,
 'Yummy Earth': 169119,
 'YURIPIBU': 169122,
 'ZOCELIA': 169154,
 '一席地鸡窝': 169180,
 '万魔 (1MORE)': 169245,
 '三海名家': 169277,
 '三禾 (sanho)': 169281,
 '上帝不能毁灭街头 (GCDS)': 169296,
 "东方宝石 (TESORI D'ORIENTE)": 169334,
 '丝凯露 (SCALP-D)': 169353,
 '丝翎 (slimwalk)': 169359,
 '两只福狸 (FOFOS)': 169369,
 '丰靡美姬 (Esprique Precious)': 169393,
 '丽婴房 (Les enphants)': 169422,
 '乐品乐茶': 169479,
 '乐范 (LERAVAN)': 169523,
 "乐食麦 (Lee's mum)": 169533,
 '二胖烧烤': 169571,
 '今世缘': 169661,
 '仙蒂奈儿': 169670,
 '伊菲丹 (EVIDENS DE BEAUTE)': 169714,
 '伊马司 (IMASU)': 169729,
 '优调': 169774,
 '伟嘉 (whiskas)': 169783,
 '余丞记': 169818,
 '余仁生 (EuYanSang)': 169819,
 '佩迪克 (PEDIAKID)': 169833,
 '佰思佳 (BESICA)': 169838,
 '佰草世家': 169843,
 '侨林': 169887,
 '俏侬': 169891,
 '俏皮娃娃 (FUEKI)': 169894,
 '保赐利 (BOTNY)': 169909,
 '元気森林': 169966,
 '克伦堡1664 (KRONENBOURG 1664)': 169983,
 '克拉小姐 (DAZZLE& CARAT)': 169990,
 '克里斯提·鲁布托 Christian Louboutin': 170008,
 '兰瑟 (LANSUR)': 170068,
 '养瑞和': 170093,
 '农纯乡': 170108,
 '冰希黎 (Boitown)': 170126,
 '凯儿得乐 (Care Daily)': 170166,
 '凯达 (KD)': 170201,
 '凰朝滋补堂': 170209,
 '出前一丁': 170212,
 '初系 (CHRNDXEE)': 170247,
 '利房 (LILFANT)': 170261,
 '北鼎 (Buydeem)': 170334,
 '匠萌': 170336,
 '千叶': 170363,
 '卓力 (CUORI)': 170402,
 '卓美亚 (JUMEIRAH)': 170410,
 '卜珂': 170459,
 '卡尔·拉格斐 Karl Lagerfeld': 170479,
 '卡洛蒂': 170503,
 '卤人甲': 170541,
 '卫龙': 170547,
 '原漾 (Sonomama)': 170557,
 '古摄影': 170600,
 '可宝 (Kobold)': 170632,
 '可来赛 (classicworld)': 170637,
 '可菱水 (cleansui)': 170647,
 '君乐宝': 170719,
 '吴系茶餐厅': 170733,
 '味千拉面': 170755,
 '哈尼泡芙': 170806,
 '唯派特 (Vetpet)': 170854,
 '111SKIN': 164129,
 '87MM': 164163,
 'a02': 164174,
 'Afernoon Tea': 164223,
 'AH WONG': 164239,
 'airx': 164254,
 'AKOKO': 164272,
 'AmelieWang': 164346,
 'anymood': 164406,
 'as we grow': 164459,
 'Asahi': 164461,
 'ATSURO TAYAMA': 164482,
 'AUDALA': 164487,
 'Augustlion': 164492,
 'BDG': 164611,
 'BECCA': 164648,
 'Berluti': 164682,
 'big tummy': 164709,
 'Black Halo': 164753,
 'boden': 164784,
 'boogie board': 164806,
 'BOSE': 164816,
 'Botanicus': 164821,
 'BRISTON': 164864,
 'BUXOM': 164893,
 'BySelvage': 164904,
 'C.P. Company': 164908,
 'Candies&Cliché': 164940,
 'CapriLac': 164951,
 'Cher-Couleur': 165030,
 'Childlife': 165038,
 'CHOUCHOU': 165051,
 'Christophe Robin': 165057,
 'Cila Goods': 165072,
 'CLARKARIDA': 165090,
 'Clinitech': 165104,
 'COCOD’ESTE': 165129,
 'Contigo': 165172,
 'CORELLE': 165181,
 'Coringco': 165183,
 'Cottonelle': 165214,
 'couronne': 165217,
 'CRAFTHOLIC': 165225,
 'Cult Gaia': 165252,
 'Dahong': 165276,
 'DAILY AROMA': 165277,
 'Davitamon': 165304,
 'DE COLOR': 165312,
 'Dean Davidson': 165317,
 'DECIEM': 165325,
 'Deepa Gurnani': 165329,
 'DemyLee': 165347,
 'desitin': 165370,
 'DOBLE': 165402,
 'Dr Sebagh': 165438,
 'DR.DUDU': 165447,
 "DU'IT": 165472,
 'DXRACER': 165483,
 'Early days': 165490,
 "Earth's Best": 165492,
 'Edward achour paris': 165525,
 'Eleven Paris': 165541,
 'ELMEX': 165556,
 'ESLABONDEXX': 165612,
 'ESPIE ROUGE': 165614,
 'EXR': 165660,
 'Fitsense': 165751,
 'fleur du mal': 165759,
 'Fornarina': 165785,
 'Frank Body': 165807,
 'full circle': 165839,
 'Funko': 165842,
 'GABS': 165854,
 'GLTEN': 165910,
 'goki': 165919,
 'Gold Philosophy': 165922,
 'Gotrip': 165940,
 'HALIBORANGE': 166004,
 'HALO': 166005,
 'Handok': 166012,
 'HanGee': 166013,
 'Head Porter': 166048,
 'healthy care': 166052,
 'Heramoment': 166073,
 'HIVITA': 166100,
 'HMN': 166104,
 'Honey Salon': 166126,
 'Hunter Gatherer': 166156,
 'HXXXXS': 166159,
 'icecream12': 166186,
 'iWALK': 166284,
 'J.O.A.': 166297,
 'Jacquie Aiche': 166308,
 'Jean-Charles de Castelbajac': 166331,
 'Jellymom': 166346,
 'Jennifer Zeuner': 166351,
 'JESSIE＆JANE': 166356,
 "Joe's Jeans": 166374,
 'Johnstons of Elgin': 166385,
 'joolz by Martha Calvo': 166398,
 'KACH': 166453,
 'KANGOL': 166463,
 'kawai': 166480,
 'KAWECO': 166482,
 'keats': 166486,
 'KINTO': 166530,
 'Kitsh': 166545,
 'Knirps': 166566,
 'Knit Mix': 166567,
 'KOI Thé': 166574,
 'LAB SERIES': 166632,
 'Lancer': 166667,
 'Lashevan': 166683,
 'LAVAMUSIC': 166692,
 'Lawrenceli': 166698,
 'LAZY Oaf': 166703,
 'Lovisa': 166855,
 'LUX360': 166886,
 'Lytess': 166892,
 'Maillsa': 166924,
 'Maison Margiela': 166933,
 'Manudy+': 166964,
 "MARY'S": 167007,
 'MAXRIENY': 167026,
 'MEDALIST': 167037,
 'MegaFood': 167051,
 'METOOCATE': 167083,
 'mifa': 167098,
 'MISS PATINA': 167163,
 'MIYO': 167190,
 'mofa': 167214,
 'MOIRE': 167218,
 'Mojito&Mojar': 167220,
 'Monza': 167242,
 'Mophie': 167258,
 'Motherhood Maternity': 167276,
 'Moussaieff': 167282,
 'MRLAZY': 167297,
 'MTM Skincare': 167304,
 'muiD': 167306,
 'MusclePharm': 167316,
 'MY Memory Young': 167326,
 'NEOLAC': 167409,
 'Niels Peeraer': 167434,
 'Nongnaka': 167455,
 'Novaform': 167474,
 'NUTHINK': 167499,
 'Obey': 167518,
 'OHMY': 167537,
 'OKINA': 167545,
 'Parfumerie Generale': 167654,
 'PAULA‘SCHOICE': 167673,
 'Perfect Potion': 167702,
 'Persol': 167710,
 'PHO13': 167724,
 'POLO RALPN LAUREN': 167783,
 'popeye80’': 167793,
 "R'AZZURRO": 167881,
 'RED DRAGONFLY REDDRAGONFLY': 167919,
 'Redearth': 167923,
 'River Tooth': 167983,
 'Rocky Mountain': 168000,
 'Rosien': 168034,
 'RVCA': 168068,
 'salus': 168094,
 'SCRUB DADDY': 168148,
 'Sense & Stitch': 168181,
 'SenseWare': 168182,
 'SHREDA': 168222,
 "SILK'N": 168237,
 'SJYP': 168262,
 'Snurk': 168322,
 'SOFLISSE': 168329,
 'Squito free': 168384,
 'Staryee': 168395,
 'StyleBop': 168441,
 'Sunlemon': 168472,
 'Sweet Melody': 168498,
 'TangVisionGirl': 168544,
 'tanni': 168545,
 'TEENIE WEENIE': 168571,
 'TEGIC': 168573,
 'Temperley London': 168575,
 'The Bonnie Mob': 168593,
 'THENEXT': 168618,
 'ThinkPad': 168632,
 'TOCCA': 168682,
 'TOI': 168686,
 'Topman': 168706,
 'Toscano': 168710,
 'Totokaelo': 168712,
 'Travelodge': 168726,
 'Tretorn': 168730,
 'tria': 168731,
 'TRULY': 168748,
 'Trunature': 168750,
 'TTOUCHME': 168755,
 'UAU': 168775,
 'UGOCCAM': 168783,
 'UKISS': 168786,
 'Une maison': 168807,
 'unny club': 168821,
 'Uterque': 168839,
 'VAN GOGH': 168856,
 'VENTIGA': 168879,
 'Very Mojo': 168892,
 'VICTORIA.HYDE': 168901,
 'VODANA': 168953,
 'VOOST': 168958,
 'WANAWON': 168987,
 'Wanderlust + Co': 168988,
 'Warmies': 168991,
 'WaterWipes': 168993,
 'Wedgwood': 168999,
 'Wet\xa0Brush': 169010,
 'woodwood': 169044,
 'X-Large': 169060,
 'Yaoy': 169078,
 'YUWA': 169125,
 '一花一木 (FRESH HERB)': 169195,
 '万世名流 (Steigenberger)': 169215,
 '万仟堂 (EDENUS)': 169219,
 '万火 (ONEFIRE)': 169238,
 '万花巢': 169239,
 '万藏': 169241,
 '三家村': 169263,
 '三谷': 169288,
 '东方森草 (YU/)': 169336,
 '东茶雅韵': 169343,
 '丧茶 (SONGTEA)': 169375,
 '中科电': 169382,
 '丸京': 169397,
 '丹斯 兰特 Danse Lente': 169413,
 '丽丽贝尔 (Lily Bell)': 169417,
 '丽皙白': 169433,
 '乌丫 (UOOYAA)': 169455,
 '乐奈 (Leni)': 169484,
 '乐益': 169511,
 '乔治·杰生 Georg Jensen': 169540,
 '九州树叶 (JIUZHOU LEAVES)': 169549,
 '也布是 (THISNORTHAT)': 169559,
 '二斗栗子': 169570,
 '亚瑟士 (Asics)': 169622,
 '亦舒堂': 169628,
 '伊欧诗 (EOS)': 169699,
 '伊诺生': 169725,
 '优之 (UZSPACE)': 169737,
 '优必思 (UBREATHING)': 169751,
 '作木坊': 169824,
 '佰魅伊人 (BAIMISS)': 169846,
 '例外 (Exception de Mixmind)': 169870,
 '俊平 (JUNPING)': 169890,
 '保丽净 (Polident)': 169899,
 '保而防 (BAUERFEIND)': 169908,
 '66GIRLS': 164154,
 'Aerie': 164216,
 'AGNELLE': 164235,
 'AHC A.H.C': 164241,
 'AHMAD TEA': 164244,
 'AIR SUCCESS': 164248,
 'allo&lugh': 164309,
 'alverde': 164332,
 'Amanda Uprichard': 164336,
 'Amedei': 164345,
 'Article Number': 164455,
 'Atelier Cologne': 164474,
 'Aykasa': 164519,
 'BabySafe': 164558,
 'Baghera': 164572,
 'BALEA': 164576,
 'Barney Cools': 164587,
 'BBIA': 164605,
 'BEAUTYMAKER': 164642,
 'BELLOCO': 164665,
 'Bio-essence': 164723,
 'BRACCIALINI': 164838,
 'Bread and Boxers': 164846,
 'Brera': 164852,
 'Brixton': 164865,
 'By Creations': 164897,
 'BYARN': 164902,
 'Calypso': 164929,
 'CALZEDONIA': 164930,
 'Canada goose': 164937,
 'Carolinna Espinosa': 164968,
 'CENTREFRONT': 165002,
 'CHANS': 165016,
 'Charlotte Tilbury': 165020,
 'CIGA LONG': 165070,
 'Circleclean': 165080,
 'CODE GLOKOLOR': 165138,
 'ComerMullen': 165160,
 'CONAMORE': 165169,
 'CoRNETTI': 165185,
 'COUTOSS': 165218,
 'COVEN GARDEN': 165220,
 'cupcakes and cashmere': 165254,
 'Cutipol': 165262,
 'Darrell Lea': 165301,
 'DE.SOUL': 165315,
 'Della Stella': 165339,
 'dolce': 165414,
 'EASYSMILE': 165499,
 'Ecru': 165515,
 'Ego QV': 165529,
 'Emmi': 165574,
 'Energie': 165585,
 'ESPOIR': 165616,
 'Ettika': 165629,
 'ETVOS': 165632,
 'EvenVintage': 165644,
 'Exideal': 165658,
 'EYEDDiCT': 165665,
 'FABIANA C': 165672,
 'ferrum': 165719,
 'Fifty 50': 165725,
 'Fiji': 165726,
 'Flos': 165767,
 'Fubu': 165837,
 'FVF': 165847,
 'GEMCY': 165870,
 'Go Natural': 165916,
 'gourmet kitchen': 165941,
 'GREENGATE': 165959,
 'HairMax': 166003,
 'Hanro': 166016,
 'HANSA': 166017,
 'HARNN': 166029,
 'Harthsun': 166032,
 'HEADRANG': 166049,
 'Henri Bendel': 166071,
 'HERBALAND': 166075,
 'HEY JUICE': 166085,
 'hi animal': 166089,
 'HOOVER': 166130,
 'ih nom uh nit': 166192,
 'ILLAMASQUA': 166206,
 'imagnets': 166210,
 'J Brand': 166290,
 'J. Lindeberg': 166291,
 'j.cat': 166292,
 'Jamaica Blue': 166311,
 'JEANNEENPROVENCE': 166333,
 'JELLY LIN': 166342,
 'JILL LEEN': 166367,
 'JINNNN': 166368,
 'Johnny Moo': 166382,
 'karibee': 166469,
 'KEHEAL': 166492,
 'KELO-COTE': 166495,
 'Kenmont': 166498,
 'KicKee Pants': 166506,
 'KIINI': 166512,
 'lagunamoon': 166653,
 'Langford': 166671,
 'les sacs Adam 1980': 166747,
 'LIFELINE': 166768,
 'LILBETTER': 166777,
 'LINEA ROSA': 166792,
 'LIPS and HIPS': 166801,
 'Louise et Cie': 166843,
 'LUCKY CHOUETTE': 166871,
 'LYFATTI PIZZA': 166889,
 'MACADAMIA': 166901,
 'Magformers': 166914,
 'MAISON CLOSE': 166927,
 'Mary Frances': 167004,
 'MASkin': 167010,
 'mejo': 167057,
 'Mes Demoiselles': 167079,
 'MICartsy': 167087,
 'Michael hill': 167088,
 'Michelle Mason': 167092,
 'MIGLIORIN': 167101,
 'MiniOdor': 167143,
 'MissZhang': 167176,
 'MixSelection': 167185,
 'MIXXO': 167187,
 'mmV': 167199,
 'Moleskine': 167224,
 'MORECOOL': 167261,
 'Moulin Roty': 167280,
 'Museum of Friendship': 167319,
 'MVMT': 167322,
 'MYBASY': 167328,
 'NAN': 167354,
 'NAZAL': 167395,
 'NBA STYLE': 167396,
 'never': 167420,
 'NHP': 167429,
 'NUK': 167492,
 'Nutrex': 167502,
 'Octenisept': 167525,
 'Odette e Odile': 167526,
 'Ohropax': 167538,
 'ONESWEEK': 167572,
 'OXO': 167620,
 'Parfois': 167653,
 'Paul &Alice': 167668,
 'PAYANAK': 167676,
 'PERFORMIX': 167705,
 'Petmate': 167716,
 'Philippe Ferrandis': 167720,
 'PIXIE MARKET': 167751,
 'Playforever Toys': 167761,
 'Pottery Barn Kids': 167805,
 'PRETTY LITTER': 167814,
 'Primigi': 167817,
 'PRIVACY PLEASE': 167818,
 'PUFE': 167835,
 'Qualy': 167870,
 'Queen Helene': 167873,
 'Rasyan': 167900,
 'Rawness': 167903,
 'Roem': 168007,
 'RONNEBY BRUK': 168017,
 'Sanderson': 168110,
 'Sassy': 168127,
 'Schiff': 168139,
 'Schutz': 168141,
 "See's Candies": 168158,
 'sia karati': 168227,
 'SIGERSON MORRISON': 168232,
 'SIR the label': 168250,
 'Smart Frog': 168302,
 'Sorel': 168354,
 'spatone': 168366,
 'STAR ISLAND': 168391,
 'Sumday Athletics': 168461,
 'Sunmax': 168474,
 'Superfit': 168482,
 'SwaddleDesigns': 168497,
 'sweetmom': 168500,
 'TEAONE': 168564,
 'TGFACTOR': 168586,
 'The Original Makeup Eraser': 168610,
 'Theraline': 168624,
 'Thomas Pink': 168635,
 'TKLAB': 168677,
 'TWELVElittle': 168763,
 'Undefeated': 168804,
 'UNOX': 168822,
 'VANESSA HOGAN': 168857,
 'vape': 168859,
 'Vege Chips': 168868,
 'Velosan': 168872,
 'Venessa Arizaga': 168877,
 'Vita horm': 168931,
 'VSF': 168964,
 'WANACCESSORY': 168986,
 'White Castle': 169016,
 'WND': 169034,
 'WonderLab': 169041,
 'Woof&Meow': 169046,
 'YUUKOO': 169123,
 'ZERSER': 169145,
 'ZOREYA': 169162,
 '一加 (OnePlus)': 169173,
 '一只酸奶牛': 169174,
 '一树蝉声': 169185,
 '一汐': 169187,
 '万事利 (wensli)': 169217,
 '万利达': 169223,
 '万和 (VANWARD)': 169224,
 '三生花': 169280,
 '中村藤吉 (NAKAMURA TOKICHI)': 169380,
 '中茶': 169383,
 '丽康丝 (NIOXIN)': 169423,
 '乐乐哺 (loveloc)': 169462,
 '乐创 (LECON)': 169472,
 '乐康膏 (NU-LAX)': 169494,
 '乐我 (Rever)': 169496,
 '乐芝牛 (La Vache qui rit)': 169521,
 '乐蔓 (Liefmans)': 169528,
 '九井': 169546,
 '书亦': 169562,
 '云雕': 169585,
 '五朵里 (UTTORI)': 169598,
 '井村屋 (Imuraya)': 169609,
 '亚历山大·王 Alexander Wang': 169615,
 '亚当·利普斯 Adam Lippes': 169618,
 '亚朵酒店 (Atour Hotel)': 169620,
 '亿觅 (EMIE)': 169658,
 '伊诗贝格 (EISENBERG)': 169723,
 '优佳 (ultrasun)': 169739,
 '伯瑞香槟 (Pommery)': 169796,
 '佰草汇': 169844,
 '佳家汤包': 169853,
 '候塞因·卡拉扬 Hussein Chalayan': 169934,
 '健力士 (Guinness)': 169944,
 '光与盐 (Light & Salt)': 169972,
 '克德夫 (KDV)': 169987,
 '兔贝乐 (RABBIT BEL)': 170018,
 '公鸡 (GALLO)': 170043,
 '兰熙 (LAMXIWR)': 170066,
 '兰玉 (LANYU)': 170067,
 '兰韩': 170081,
 '农家大院': 170106,
 '凡妮莎·布鲁诺 Vanessa Bruno': 170146,
 '凯朵 (KATE)': 170183,
 '凯蒂猫\xa0 (HELLOKITTY)': 170198,
 '凰巢': 170208,
 '10 Corso Como': 164126,
 '30Plus': 164138,
 '3点1刻': 164145,
 'ADDICTION': 164205,
 'Admiral': 164211,
 'AGMC': 164234,
 'aita': 164256,
 'AKAW': 164268,
 'aldo': 164278,
 'amiri': 164354,
 'ANITA KO': 164390,
 'Areti': 164440,
 'aromatica': 164448,
 'ASOBU': 164465,
 'AUX PARADIS': 164503,
 'B&O PLAY': 164524,
 'BABAMA': 164529,
 'baby banana': 164534,
 'Baby Dipper': 164539,
 'Baby Milo': 164543,
 'Baci': 164563,
 'BARREL': 164590,
 'Bayeco': 164600,
 'BBV': 164606,
 'BIKA': 164712,
 'Black by Moussy': 164749,
 'Bling2o': 164767,
 'BLUMARINE': 164779,
 'boh': 164794,
 'Bolin Bolon': 164798,
 'BOLIN WEBB': 164799,
 'BOOK DARTS': 164807,
 'BORAVIT': 164812,
 'Building Block': 164883,
 'Bumble and bumble': 164885,
 'Cailler': 164922,
 'Campanile': 164935,
 'Car Shoe': 164953,
 'cathkidston': 164982,
 'CATZ': 164985,
 'CeraVe': 165004,
 'CHEN YIYUAN': 165029,
 'Chopard': 165050,
 'Christian Dada': 165054,
 'CHRISTIANLOUBOUTIN': 165056,
 'Clarion': 165089,
 'Coloxyl': 165156,
 'COMBO': 165159,
 'COSLUXE': 165194,
 'Cre8': 165229,
 'Crystal Light': 165244,
 'CRYSTAL TOMATO': 165246,
 'D.Rosenthaler': 165270,
 'D8': 165273,
 'dazzlin': 165307,
 'DCSHOECOUSA': 165309,
 'DearU': 165322,
 'Devil Nut': 165373,
 'Didinika': 165383,
 'DISSONA': 165393,
 'Dr.eiffel': 165448,
 'Dreamtimes': 165465,
 'DUSTY': 165479,
 'Eco baby': 165508,
 'ECX': 165516,
 'EICHBAUM': 165530,
 'ELEDIA': 165538,
 'eRouge': 165608,
 'ESPA': 165613,
 'Estrella Damm': 165623,
 'eye candle': 165661,
 'FAGOR': 165679,
 'FIBRENO': 165723,
 'For Love & Lemons': 165776,
 'Frederic Malle': 165816,
 'Fumakira': 165841,
 'GERBER': 165880,
 'Gilim': 165890,
 'Glencadam': 165903,
 'gozo': 165942,
 'Hand Chemistry': 166010,
 'Haute Hippie': 166041,
 'hiGHSPOt': 166093,
 'Homeo Beau': 166122,
 'HOPESHOW': 166132,
 'Hudson Jeans': 166150,
 'INDIBRAND': 166221,
 'INSIS': 166242,
 'j.herbin': 166293,
 'JARDIN': 166318,
 'jeko&jeko': 166339,
 'JOLIE.HOUSE': 166391,
 'Joma': 166394,
 'JUICY SUPPLY': 166426,
 'JUNNE': 166434,
 'KNOMO': 166568,
 'Knoppers': 166569,
 'KULE': 166595,
 'La sposa': 166630,
 'LABRIELLS': 166637,
 'Lavinia Club': 166695,
 'Leivy': 166727,
 'Les Copains': 166742,
 'Les Nereides': 166744,
 'Les Parfums de Rosine': 166745,
 'Lil Critters': 166776,
 'LILMOON': 166779,
 'LIN EDITION LIMIT': 166786,
 'Liquid Laundry': 166803,
 'little tree': 166811,
 'livework': 166814,
 'Livia': 166815,
 'Luara': 166862,
 'M.I.G': 166897,
 'Madeworn': 166909,
 'MAIN BOOTH': 166925,
 'makanai': 166941,
 'Mamachi': 166950,
 'Marco Bicego': 166971,
 'MARGE SHERWOOD': 166975,
 'Massimo Dutti': 167011,
 'Melissa Odabash': 167060,
 'MHD': 167086,
 'Mimos': 167133,
 'miomi': 167150,
 'misfit': 167155,
 'Mistine': 167177,
 'MOCHIDA': 167206,
 'Mockberg': 167207,
 'MON2FRI': 167226,
 'Montagne Jeunesse': 167239,
 'MONTS': 167241,
 'MORFORA': 167263,
 'MUSCLEDOG': 167315,
 'NCLA': 167399,
 'NINEST': 167437,
 'NRX': 167481,
 'Nuna': 167495,
 'Oeuf': 167530,
 'oh L': 167533,
 'OHSUNNY': 167539,
 'ON&ON': 167565,
 'One Step': 167570,
 'ONITSUKA TIGER': 167573,
 'OPPOTALK': 167585,
 'PAGEBOY': 167630,
 'PegPerego': 167692,
 'Perrin Paris': 167709,
 'PHIPHY': 167722,
 'PIAFLOSS': 167728,
 'Pinky Queen': 167746,
 'Pistolera Mexican Cantina': 167749,
 'PMA': 167769,
 'POPBERRY': 167792,
 'PROCEANIS': 167823,
 'Pull & Bear': 167839,
 'PURESKIN': 167849,
 'Purpose': 167853,
 "Q'tebody": 167860,
 'Q-tips': 167863,
 'Qstree': 167869,
 'RAKOOL': 167895,
 'Real Kids': 167913,
 'REMAX': 167941,

In [4]:
total_df=pd.DataFrame(columns={'brand_code','label','count'})

In [5]:
results_df=pd.DataFrame(columns={'brand_code','label','count'})

results_df.at[0, 'label'] = 5 
results_df.at[1, 'label'] = 4
results_df.at[2, 'label'] = 3
results_df.at[3, 'label'] = 2
results_df.at[4, 'label'] = 1

results_df.at[0, 'count'] = 26
results_df.at[1, 'count'] = 34
results_df.at[2, 'count'] = 2
results_df.at[3, 'count'] = 21
results_df.at[4, 'count'] = 2

results_df['brand_code']= '211'
results_df = results_df[['brand_code','label','count']]

In [6]:
total_df = pd.concat([total_df, results_df], axis=0)

In [14]:
total_df

  label brand_code count   0
0     5        211    26 NaN
1     4        211    34 NaN
2     3        211     2 NaN
3     2        211    21 NaN
4     1        211     2 NaN

In [32]:
brand_code = []
brand_code.append(3)
brand_code.append(3)
brand_code.append(3)
brand_code.append(3)
label = [30,30,30,30]
count = [300,400,500,600]

In [33]:
data = [{'brand_code':x,'label':y,'count':z} for x,y,z in zip(brand_code,label,count )]

In [28]:
rows = [x for x in zip(brand_code, label, count)] #每个row为一个tuple
rows

[(3, 30, 300), (3, 30, 400), (3, 30, 500), (3, 30, 600)]

In [29]:
data = [{'brand_code':row[0],'label':row[1],'count':row[2]} for row in rows]

In [34]:
total_df= total_df.append(data,sort=False)

In [39]:
counts = total_df.iloc[:,2].values
counts

array([ nan,  nan,  nan,  nan,  nan, 300., 400., 500., 600.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan])

In [49]:

count=[each for each in counts]
count

[nan,
 nan,
 nan,
 nan,
 nan,
 300.0,
 400.0,
 500.0,
 600.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [50]:
data = [{'brand_code':x,'label':y,'count':z} for x,y,z in zip(brand_code,label,count)]

In [51]:
total_df= total_df.append(data,sort=False)

In [52]:
total_df

     0     1      2    brand_code                 count             label
0  NaN   NaN    NaN           211                    26                 5
1  NaN   NaN    NaN           211                    34                 4
2  NaN   NaN    NaN           211                     2                 3
3  NaN   NaN    NaN           211                    21                 2
4  NaN   NaN    NaN           211                     2                 1
0  3.0  30.0  300.0           NaN                   NaN               NaN
1  3.0  30.0  400.0           NaN                   NaN               NaN
2  3.0  30.0  500.0           NaN                   NaN               NaN
3  3.0  30.0  600.0           NaN                   NaN               NaN
0  NaN   NaN    NaN  [3, 3, 3, 3]  [300, 400, 500, 600]  [30, 30, 30, 30]
0  NaN   NaN    NaN             3                   300                30
1  NaN   NaN    NaN             3                   400                30
2  NaN   NaN    NaN             3                   500                30
3  NaN   NaN    NaN             3                   600                30
0  NaN   NaN    NaN             3                   300                30
1  NaN   NaN    NaN             3                   400                30
2  NaN   NaN    NaN             3                   500                30
3  NaN   NaN    NaN             3                   600                30
0  NaN   NaN    NaN             3                   NaN                30
1  NaN   NaN    NaN             3                   NaN                30
2  NaN   NaN    NaN             3                   NaN                30
3  NaN   NaN    NaN             3                   NaN                30
0  NaN   NaN    NaN             3                   NaN                30
1  NaN   NaN    NaN             3                   NaN                30
2  NaN   NaN    NaN             3                   NaN                30
3  NaN   NaN    NaN             3                   NaN                30

In [47]:
total_df

     0     1      2    brand_code                 count             label
0  NaN   NaN    NaN           211                    26                 5
1  NaN   NaN    NaN           211                    34                 4
2  NaN   NaN    NaN           211                     2                 3
3  NaN   NaN    NaN           211                    21                 2
4  NaN   NaN    NaN           211                     2                 1
0  3.0  30.0  300.0           NaN                   NaN               NaN
1  3.0  30.0  400.0           NaN                   NaN               NaN
2  3.0  30.0  500.0           NaN                   NaN               NaN
3  3.0  30.0  600.0           NaN                   NaN               NaN
0  NaN   NaN    NaN  [3, 3, 3, 3]  [300, 400, 500, 600]  [30, 30, 30, 30]
0  NaN   NaN    NaN             3                   300                30
1  NaN   NaN    NaN             3                   400                30
2  NaN   NaN    NaN             3                   500                30
3  NaN   NaN    NaN             3                   600                30
0  NaN   NaN    NaN             3                   300                30
1  NaN   NaN    NaN             3                   400                30
2  NaN   NaN    NaN             3                   500                30
3  NaN   NaN    NaN             3                   600                30
0  NaN   NaN    NaN             3                   NaN                30
1  NaN   NaN    NaN             3                   NaN                30
2  NaN   NaN    NaN             3                   NaN                30
3  NaN   NaN    NaN             3                   NaN                30

In [ ]:
total_df

In [128]:
for x, y, z in zip(brand_code, label, count):
    total_df = total_df.append({'brand_code' : x,
                    'label' : y, 'count': z} , 
                    ignore_index=True)

In [115]:
total_df = total_df.append({'brand_code' : brand_code,
                    'label' : brand_code, 'count': brand_code} , 
                    ignore_index=True)

In [113]:
total_df['brand_code'].append(pd.Series(brand_code))
total_df['label'].append(pd.Series(brand_code))
total_df['count'].append(pd.Series(brand_code))

0    26
1    34
2     2
3    21
4     2
0     3
1     3
2     3
dtype: object

In [129]:
total_df

                   label            brand_code                 count
0                      5                   211                    26
1                      4                   211                    34
2                      3                   211                     2
3                      2                   211                    21
4                      1                   211                     2
5              [3, 3, 3]             [3, 3, 3]             [3, 3, 3]
6                      3                     3                     3
7                     30                    30                    30
8                    400                   300                   500
9           [3, 3, 3, 3]          [3, 3, 3, 3]          [3, 3, 3, 3]
10      [30, 30, 30, 30]      [30, 30, 30, 30]      [30, 30, 30, 30]
11  [300, 400, 500, 600]  [300, 400, 500, 600]  [300, 400, 500, 600]
12                    30                     3                   300
13                    30                     3                   400
14                    30                     3                   500
15                    30                     3                   600

In [88]:
total_df

  label brand_code count
0     5        211    26
1     4        211    34
2     3        211     2
3     2        211    21
4     1        211     2
5   NaN  [3, 3, 3]   NaN
6   NaN  [3, 3, 3]   NaN
7   NaN  [3, 3, 3]   NaN
8   NaN  [3, 3, 3]   NaN
9   NaN  [3, 3, 3]   NaN

In [64]:
total_df.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [65]:
mydf=pd.DataFrame(columns={'word','count'})

In [68]:
mydf['word']=total_df.index
mydf['count']=total_df.iloc[:,0].values

In [69]:
mydf

  count  word
0     5     0
1     4     1
2     3     2
3     2     3
4     1     4

In [72]:
jieba_results = [[0, '破洞,裤绝,绝子,底鞋,厚底,小个子,牛仔裤,衬衫,肤色,友好,蓝色,白色,颜色,基础'],
 [1,
  '姐妹,衣服,狗子,壳子,男朋友,耳麦,剃须刀,礼物,耳机,时候,码数,情侣装,一束花,花店,半袖,倍思,室友,刮胡子,派上用场,挺好,情侣,向日葵,私心,男友,心酸,男生,墓碑,单价,裤子,美好,苹果,不好意思,快乐,型号,评论,电影,正好,手机,质量,简单,有点,根本,条件,大家']]

In [73]:
len(jieba_results)

2

In [89]:
separated = [','.join(jieba_results[i][1].split(',')) for i in range(len(jieba_results))]
separatedstr = ','.join(separated)
separatedstr = separatedstr.split(',')

In [77]:
pd.Series(separated)

0          破洞,裤绝,绝子,底鞋,厚底,小个子,牛仔裤,衬衫,肤色,友好,蓝色,白色,颜色,基础
1    姐妹,衣服,狗子,壳子,男朋友,耳麦,剃须刀,礼物,耳机,时候,码数,情侣装,一束花,花店,...
dtype: object

In [93]:
from collections import Counter
counter = Counter([i for i in separatedstr])

In [94]:
keywords = [key for key, value in counter.items()]
counts = [value for key, value in counter.items()]

In [98]:
brand_code = []
brand_code.extend([112 for i in range(len(keywords))]) 
brand_code

[112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112,
 112]

In [95]:
keywords

['破洞',
 '裤绝',
 '绝子',
 '底鞋',
 '厚底',
 '小个子',
 '牛仔裤',
 '衬衫',
 '肤色',
 '友好',
 '蓝色',
 '白色',
 '颜色',
 '基础',
 '姐妹',
 '衣服',
 '狗子',
 '壳子',
 '男朋友',
 '耳麦',
 '剃须刀',
 '礼物',
 '耳机',
 '时候',
 '码数',
 '情侣装',
 '一束花',
 '花店',
 '半袖',
 '倍思',
 '室友',
 '刮胡子',
 '派上用场',
 '挺好',
 '情侣',
 '向日葵',
 '私心',
 '男友',
 '心酸',
 '男生',
 '墓碑',
 '单价',
 '裤子',
 '美好',
 '苹果',
 '不好意思',
 '快乐',
 '型号',
 '评论',
 '电影',
 '正好',
 '手机',
 '质量',
 '简单',
 '有点',
 '根本',
 '条件',
 '大家']

In [96]:
counts

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]